<!DOCTYPE html>
<html>
 <head>
   <title>title</title>
   
 </head>
 <body>
 <h1>You got... J. Crew Factory!!!
   </h1>
   <br>
   <a href = https://factory.jcrew.com>
   <img src="https://cdn.promocodes.com/img/merchant-logo/360-opt/17357/v1/j-crew-factory-coupons.png" alt="J. Crew Factory picture" width = 560>
   </a>
   <h2> You will love these preppy clothes at an affordable price! Perfect for you and your wallet!
    </h2>
 </body>
</html>